*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

button:disabled {
  pointer-events: none;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: Raleway;
  --accent-font: "STIX Two Text";
}

.page {
  min-inline-size: 360px;
  margin: 0;
  font-family: var(--main-font, Raleway);
  background-color: var(--bg-color, #f3efec);
  color: var(--text-color, #f3efec);
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: transparent;
}

.heading {
  font-family: var(--accent-font);
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 90%; /* 108px */
}

.content-section {
  padding-inline-start: 5vi;
  padding-inline-end: 5vi;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-block-end: 40px;
}

.content__title {
  font-size: 30px;
  margin-block-start: 7vi;
  margin-block-end: 2.5vi;
}

.header {
  padding-block-start: 10vi;
}

.content__text-block {
  font-size: 18px;
  font-family: var(--main-font);
}

.content__paragraph:not(:last-child) {
  margin-block-end: 1.5em;
}

.content__text-block a {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}

.content__text-block a:hover {
  border-color: color-mix(in srgb, currentColor 50%, transparent);
}

.content__text-block a:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.content__blockquote {
  width: 75%;
  margin-block-end: 1.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  color: var(--text-color);
  font-family: var(--main-font);

  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 200%; /* 36px */
}

.content__list {
  list-style-type: none;
  padding-inline-start: 40px;
}

.content__list li {
  position: relative;
}

.content__list li::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 5px; /*подогнать в конце работы*/

  inline-size: 15px;
  block-size: 15px;
  background-image: url(../images/marker-light.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.theme_dark li::before {
  background-image: url(../images/marker-dark.svg);
}

.content__list li:not(:last-of-type) {
  margin-block-end: 10px;
}

.content__text-block_type_first-lettered
  .content__paragraph:first-of-type::first-letter {
  background-color: var(--accent-color);
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 1px;
}

.theme_dark
  .content__text-block_type_first-lettered
  .content__paragraph:first-of-type::first-letter {
  border: 1px solid currentColor;
}

.content__figure {
  position: relative;
  margin-block-start: 7vi;
  margin-block-end: 7vi;
  inline-size: calc(100% + 10vi);
  inset-inline-end: 5vi;
}

.content__picture {
  inline-size: 100%;
}

.content__picture-caption {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-block: 20px;
  border-bottom: 1px solid currentColor;
  font-family: var(--main-font);
}

.content__card {
  border: 1px solid currentColor;
  margin-block-start: 7vi;
  width: 100%;
  aspect-ratio: 4/3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content__card-title {
  color: var(--text-color);
  font-family: var(--accent-font);
  font-size: 60px;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.colored-text::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  background-color: var(--accent-color);
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
}

/*.colored-text {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-decoration-skip-ink: none;
  text-underline-offset: -15px;
  text-decoration-thickness: 20px;  ВАРИАНТ РЕАЛИЗАЦИИ ЧЕРЕЗ ПОДЧЕРКИВАНИЕ
}*/

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
}

.content__card-subtitle {
  color: var(--text-color);
  text-align: center;
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  border-block-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  padding-block-start: 20px;
  padding-block-end: 20px;
}

.header__theme-toggler {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  list-style: none;
}

.header__theme-button {
  position: relative;
  border: none;
  padding: 0;
  font-family: var(--main-font);
  color: currentColor;
  font-size: 18px;
  background-color: transparent;
  line-height: 104%; /* 18.72px */
}

.header__theme-button:hover {
  cursor: pointer;
  border-bottom: 1px solid currentColor;
}

.header__theme-button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.header__theme-button_type_dark {
} /*ЗАЧЕМ? */

.header__theme-button_type_light {
} /*ЗАЧЕМ? */

.header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_is-active::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  background-color: var(--accent-color);
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
}

.footer {
  margin-block-start: 10vi;
  border-block-start: 1px solid currentColor;
  text-align: center;
}

.footer__copyright {
  padding-block-start: 2.5vi;
  padding-block-end: 2.5vi;
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
